<a id="link-to-post-a-picture" href="/pictures/new">Post picture</a>
<% @pictures.each do |picture|%>
	<%= image_tag picture.image.url(:thumb) %>
	<%= picture.feeling %>
	<%= link_to "Delete picture", picture_path(picture), method: :delete %>
<% end %>
